@mixin pos_circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    position: relative;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-outer {
        @include pos_circle;
        border: 2px solid #000;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 10px #000;
        background-color: white;
    }

    .circle-inner {
        @include pos_circle;
        width: 450px;
        height: 450px;
        border: 2px solid #000;
        border-radius: 50%;
        box-shadow: 0px 0px 25px #000 inset;
        background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    }

    .circle-knob {
        width: 25px;
        height: 25px;
        background-color: rgb(121, 121, 121);
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0px 0px 0px 2px #000;
    }
}